/* styles.css */
.select-nueva .ant-select-selector {
    color: #0958d9;
    background: #e6f4ff !important;
    border-color: #91caff !important;
}

.select-en-curso .ant-select-selector {
    color: #389e0d;
    background: #f6ffed !important;
    border-color: #b7eb8f !important;
}

.select-rechazada .ant-select-selector {
    color: #cf1322;
    background: #fff1f0 !important;
    border-color: #ffa39e !important;
}

.select-finalizada .ant-select-selector {
    color: #d48806;
    background: #fffbe6 !important;
    border-color: #ffe58f !important;
}